.btn {
  border: none;
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--img-btn-hover-bg-color);
}

.logo {
  border-radius: 50px;
}

.btn img {
  width: 30px;
  height: 30px;
}

.actualizaciones,
.mensajes {
  display: none;
}

@media (min-width: 769px) {
  .actualizaciones,
  .mensajes {
    display: flex;
  }
}
