.search-container {
  background-color: var(--search-container-color);
  border-radius: 50px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-left: 12px;
}

.search-icon {
  width: 20px;
  margin-left: 10px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--search-input-color);
  font-size: 1em;
  padding-left: 5px;
  width: 100%;
}
